<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>EV Charging Station</display-name>
  <welcome-file-list>
    <welcome-file>Main.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>Mainportal.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stationRegister</display-name>
    <servlet-name>stationRegister</servlet-name>
    <servlet-class>registerStationPortal.stationRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stationRegister</servlet-name>
    <url-pattern>/stationRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Charginglogin</display-name>
    <servlet-name>Charginglogin</servlet-name>
    <servlet-class>CharginglogInPortal.Charginglogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Charginglogin</servlet-name>
    <url-pattern>/Charginglogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userRegister</display-name>
    <servlet-name>userRegister</servlet-name>
    <servlet-class>userRegisterportal.userRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegister</servlet-name>
    <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>userRegisterportal.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_Register</display-name>
    <servlet-name>user_Register</servlet-name>
    <servlet-class>userRegisterportal.userRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_Register</servlet-name>
    <url-pattern>/user_Register</url-pattern>
  </servlet-mapping>
</web-app>